//
// OrdersAPI.swift
//
// Generated by swagger-codegen
// https://github.com/swagger-api/swagger-codegen
//

import Alamofire



public class OrdersAPI: APIBase {
    /**
     Deletes image from user s3 store
     
     - parameter fileName: (form) Filename for deletion 
     - parameter completion: completion handler to receive the data and the error objects
     */
    public class func templateAssetDelete(fileName fileName: String, completion: ((error: ErrorType?) -> Void)) {
        templateAssetDeleteWithRequestBuilder(fileName: fileName).execute { (response, error) -> Void in
            completion(error: error);
        }
    }


    /**
     Deletes image from user s3 store
     - DELETE /orders/templates/images
     - Deletes image from user s3 store
     - OAuth:
       - type: oauth2
       - name: BBOAuth2
     
     - parameter fileName: (form) Filename for deletion 

     - returns: RequestBuilder<Void> 
     */
    public class func templateAssetDeleteWithRequestBuilder(fileName fileName: String) -> RequestBuilder<Void> {
        let path = "/orders/templates/images"
        let URLString = bombbomb-swift-openapiAPI.basePath + path

        let nillableParameters: [String:AnyObject?] = [
            "fileName": fileName
        ]
 
        let parameters = APIHelper.rejectNil(nillableParameters)
 
        let convertedParameters = APIHelper.convertBoolToString(parameters)
 
        let requestBuilder: RequestBuilder<Void>.Type = bombbomb-swift-openapiAPI.requestBuilderFactory.getBuilder()

        return requestBuilder.init(method: "DELETE", URLString: URLString, parameters: convertedParameters, isBody: false)
    }

}
